<!-- Adds occasion list items to the Occasions page-->
<!-- @author:Suniyya-->

<!--Javascript methods-->
<script src="/javascripts/dashboard.js"></script>
<script src="assets/js/scripts.js"></script>

<!--Modal to help edit Occasion details once created-->
<% include editOccasion.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 createdOccasions ">
    <p class="intro-text"><%=user.name%>'s Occasions</p>
    <!--Occasions created by user -->
    <% var numCreatedOccasions = user.createdOccasions.length;  %>
    <% if (numCreatedOccasions>0){ %>
    <div class="occasionsPanel panel panel-default">
      <ul class="occasionUl">
        <% for (var i=0; i< numCreatedOccasions; i++) { %>
        <a href="/occasions/<%=user.createdOccasions[i]._id%>">
          <li class="li_occasion panel panel-default" id="<%=user.createdOccasions[i]._id%>">
            <% if (!user.createdOccasions[i].coverPhoto){ %>

            <!--Occasion cover photo (placeholder image if cover not present) -->
              <img src="http://i.imgur.com/DH7hlPK.jpg" class="occasion-thumbnail"/>
            <% } else { %>
              <img src="<%=user.createdOccasions[i].coverPhoto%>" class="occasion-thumbnail"/>
            <% } %>
            
            <h3><%=user.createdOccasions[i].title%></h3>
            <p align= "left" ><%=user.createdOccasions[i].description%> </p>
            <div class="delete-occasion ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
              <span class="ui-icon ui-icon-trash"></span>
            </div>
            <div class="edit-occasion ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
              <span class="ui-icon ui-icon-pencil"></span>
            </div>
          </li> 
        </a>
        <% } %>
      </ul>
    </div>
    <% } %>
  </div>

  <!--Occasions a user can add thoughts to -->
  <% var numParticipatedOccasions = user.participatedOccasions.length;  %>
  <% if (numParticipatedOccasions>0){ %>
    <div class="col-md-8 col-md-offset-2 intermediateOccasions">
      <p class="intro-text">Occations I Contributed to</p>
      <div class="occasionsPanel panel panel-default">
        <ul class="occasionUl">
          <% for (var i=0; i< numParticipatedOccasions; i++) { %>
          <a href="/occasions/<%=user.participatedOccasions[i]._id%>">
            <li class="li_occasion panel panel-default" style = "position:relative" id="<%=user.participatedOccasions[i]._id%>">
              <% if (!user.participatedOccasions[i].coverPhoto){ %>

              <!--Occasion cover photo/ placeholder thumbnail -->
                <img src="http://i.imgur.com/DH7hlPK.jpg" class="occasion-thumbnail"/>
              <% } else { %>
                <img src="<%=user.participatedOccasions[i].coverPhoto%>" class="occasion-thumbnail"/>
              <% } %>
             
              <h3><%=user.participatedOccasions[i].title%></h3>
              <p align= "left" ><%=user.participatedOccasions[i].description%> </p>
            </li> 
          </a>
          <% } %>
        </ul>
      </div>
    </div>
  <% } %>

  <!-- Published Occasions that have been made for the user -->
  <% var numReceivedOccasions = user.receivedOccasions.length; %>
  <% if (numReceivedOccasions>0){ %>
    <div class="col-md-8 col-md-offset-2 intermediateOccasions">
      <p class="intro-text">Collages Sent to Me</p>
      <div class="occasionsPanel panel panel-default">
        <ul class="occasionUl">
          <% for (var i=0; i< numReceivedOccasions; i++) { %>
          <a href="/occasions/<%=user.receivedOccasions[i]._id%>">
            <li class="li_occasion panel panel-default" style = "position:relative" id="<%=user.receivedOccasions[i]._id%>">
              <% if (!user.receivedOccasions[i].coverPhoto){ %>

              <!--Occasion cover photo/ placeholder thumbnail -->
                <img src="http://i.imgur.com/DH7hlPK.jpg" class="occasion-thumbnail"/>
              <% } else { %>
                <img src="<%=user.receivedOccasions[i].coverPhoto%>" class="occasion-thumbnail"/>
              <% } %>

              <h3><%=user.receivedOccasions[i].title%></h3>
              <p align= "left" ><%=user.receivedOccasions[i].description%> </p>
            </li> 
          </a>
          <% } %>
        </ul>
      </div>
    </div>
  <% } %>
</div>