<!-- Adds occasion list items to the Occasions page-->
<!-- @author:Suniyya-->

<!--CSS -->
<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.theme.css" type="text/css" />
<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.base.css" type="text/css" />

<!--Javascript methods-->
<script src="/javascripts/dashboard.js"></script>
<script src="assets/js/scripts.js"></script>

<!--Modal to help edit Occasion details once created-->
<% include editOccasion.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p class="intro-text"><%=user.name%>'s Occasions</p>

    <%if (user.createdOccasions.length>0){ %>
    <ul id="occasions">
      <% var numOccasions = user.createdOccasions.length %>
      <% for (var i=0; i< numOccasions; i++) { %>

      <a href="/occasions/<%=user.createdOccasions[i]._id%>">

        <li class="li_occasion" style = "position:relative" id="<%=user.createdOccasions[i]._id%>">
          <% if (!user.createdOccasions[i].coverPhoto){ %>
            <img src="http://lorempixum.com/100/100/nature/4" />
          <% } else { %>
            <img src="<%=user.createdOccasions[i].coverPhoto%>" class="occasion-thumbnail"/>
          <% } %>
          <h3><%=user.createdOccasions[i].title%></h3>
          <p align= "left" ><%=user.createdOccasions[i].description%> </p>
          <div class="delete-occasion ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
            <span class="ui-icon ui-icon-trash"></span>
          </div>
          <div class="edit-occasion ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
          
          <span class="ui-icon ui-icon-pencil"></span>
          </div>

        </li> 
      </a>
      <% } %>
    </ul>
    <% } %>
  
  </div>


  <div class="col-md-8 col-md-offset-2">
    <% var numOccasions = user.participatedOccasions.length%>
    <% if (numOccasions != 0){ %>
      <p class="intro-text">Occations I contributed to</p>
    <% } %>
    <ul>
      <% for(var i=0; i< numOccasions; i++) { %>

      <a href="/occasions/<%=user.participatedOccasions[i]._id%>">
      
        <li style = "position:relative" id="<%=user.participatedOccasions[i]._id%>">
          <% if (!user.viewableOccasions[i].coverPhoto){ %>
            <img src="http://lorempixum.com/100/100/nature/4" />
          <% } else { %>
            <img src="<%=user.viewableOccasions[i].coverPhoto%>" class="occasion-thumbnail"/>
          <% } %>
          <h3><%=user.participatedOccasions[i].title%></h3>
          <p align= "left" ><%=user.participatedOccasions[i].description%> </p>
        </li>
      </a>
      <% } %>
    </ul>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <% var numOccasions = user.receivedOccasions.length%>
    <% if (numOccasions != 0){ %>
      <p class="intro-text">Collages I can view</p>
    <% } %>
    <ul>
      <% for(var i=0; i< numOccasions; i++) { %>

      <a href="/occasions/<%=user.receivedOccasions[i]._id%>">
      
        <li style = "position:relative" id="<%=user.receivedOccasions[i]._id%>">
          <img src="http://lorempixum.com/100/100/nature/4"/>
          <h3><%=user.receivedOccasions[i].title%></h3>
          <p align= "left" ><%=user.receivedOccasions[i].description%> </p>
        </li>
      </a>
      <% } %>
    </ul>
  </div>

</div>