<!-- Adds thought list items on an occasion page -->
<!-- @author: Suniyya --> 

<!--Modal to enable editing of a thought -->
<% include editThought.ejs %>
<div class="col-md-8 col-md-offset-2">
  

  <!-- Adds textbox for adding thoughts if occasion is not yet published -->
  <%if (!occasion.isPublished()) { %>
      <div class="panel panel-default add-box">
        <div class="panel-body">
          <p>Share a thought!</p>        
          <form class="registration-form" role="form" >
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
              </span>
              <textarea id="thought-message" name = "message" placeholder="Add a message" cols="50" rows="5" class="form-first-name form-control"></textarea>
              <!--Hidden input elements to hold occasion and user details -->          
              <input name="occasionId" value="<%=occasion._id%>" type="hidden">
              <input name="userName" value="<%=user.name%>" type="hidden">
              <input name="profilePicture" value="<%=user.profilePicture%>" type="hidden">
            </div>
          </div>
          <!--Enables preview of image urls -->
          <div id = "preview">
            <img id = "previewImg" src="http://simpleicon.com/wp-content/uploads/camera.png" class="img-responsive" alt="">
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-picture"></span>
              </span>
              <!-- Textbox to hold image url -->
              <input name="thoughtPicture" placeholder="Add a picture (url)" class="form-first-name form-control" id="url">
              <span class="input-group-btn">
                <a id="upload" class="btn btn-primary">Preview</a>
              </span>
            </div>
          </div>

          <!--Submit thought -->
          <button id = "add-thought" type = "submit" class="btn btn-sm btn-primary btn-block" value = "Submit">SUBMIT</button>
        </form>
        </div>

      </div>
  

  <% } %>

  <!-- Displayed thoughts -->
  <div id= "thoughts">
    <ul id = "thought-list">

      <% var numThoughts = occasion.thoughts.length%>

      <% for (var i=0; i<numThoughts; i++) { %>

      <li class ="thought">
        <div id ="<%=occasion.thoughts[i]._id%>" class = "thought-box panel panel-default">
          <div class ="panel-body">
            <div class="col-xs-12">

              <!--Participant profile picture -->
              <img class="thoughtProfilePicture" src="<%=occasion.thoughts[i].creator.profilePicture%>">
              <p class="username" align="left"><%=occasion.thoughts[i].creator.name %></h3>
            </div>
            <div class="col-xs-12">
              <!-- Participant Message -->
              <p class="thoughtMessage" id="message_<%=occasion.thoughts[i]._id%>" align= "left"><%=occasion.thoughts[i].message%></p>
            </div>
            <!-- Picture associated with thought -->
            <div class="thoughtPhotoDiv col-xs-12">
              <% if (occasion.thoughts[i].photo){ %>
                <img id="thoughtPhoto_<%=occasion.thoughts[i]._id%>" class="thoughtPhoto" src="<%=occasion.thoughts[i].photo%>">
              <% } else { %>
                <img id="thoughtPhoto_<%=occasion.thoughts[i]._id%>" class="thoughtPhoto" src="">
              <% } %>
            </div>
            <!--Selectively displayes delete and edit icons next to each thought -->
            
            <% if (occasion.thoughts[i].creator._id.equals(user.id) || occasion.creator.equals(user.id)) { %>
              <div  class="delete-thought ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
                <span class="ui-icon ui-icon-trash"></span>
              </div>
            <% } %>

            <% if (occasion.thoughts[i].creator._id.equals(user.id)) { %>
              <div class="edit-thought ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
                <span class="ui-icon ui-icon-pencil"></span>
              </div>
           
            <% } %>
          </div>
        </div>
      </li>

      <% } %>

    </ul>
  </div>
</div>