<!-- Adds thought list items on an occasion page -->
<!-- @author: Suniyya --> 
<!-- To DO change repeated ids to classes --> 

<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.theme.css" type="text/css" />
<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.base.css" type="text/css" />
<% include editThought.ejs %>
<div class="col-md-8 col-md-offset-2">
  <p class="intro-text"><%=occasion.title%></p>

  <%if (!occasion.isPublished()) { %>
        <form class="form form-signup" role="form" >
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
              </span>
              <input id = "thought-message" name = "message" type="text" class="form-control" style="height: 200px" placeholder="Add a thought" />
              <input name="occasionId" value="<%=occasion._id%>" type="hidden">
              <input name="userName" value="<%=user.name%>" type="hidden">
              <input name="profilePicture" value="<%=user.profilePicture%>" type="hidden">
            </div>
          </div>

          <button id = "add-thought" type = "submit" class="btn btn-sm btn-primary btn-block" value = "Submit">SUBMIT</button>
        </form>
  

  <% } %>

  <div id= "thoughts">
    <ul id = "thought-list" >

      <% var numThoughts = occasion.thoughts.length%>
      <% for (var i=0; i<numThoughts; i++) { %>
      <div id ="<%=occasion.thoughts[i]._id%>" class = "thought-box">
          <li class ="thought" id="<%=occasion.thoughts[i]._id%>">
            <img src="<%=occasion.thoughts[i].creator.profilePicture%>">
            <h3 align="left"><%=occasion.thoughts[i].creator.name %></h3>
            <p align= "left" > <%=occasion.thoughts[i].message%></p>

            <div  class="delete-thought ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
              <span class="ui-icon ui-icon-trash"></span>
            </div>
            <div class="edit-thought ui-state-default ui-corner-all" title=".ui-icon-carat-1-n">
              <span class="ui-icon ui-icon-pencil"></span>
            </div>

          </li>
      </div>
      <% } %>
    </ul>
  </div>
</div>